@model Apteczka.Models.ApteczkaModel

@{
    ViewBag.Title = "Usuń Apteczkę";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usuń Apteczkę</h2>
<p class="error">@ViewBag.ErrorMessage</p>
<h3>Czy na pewno chcesz usunąć tą Apteczkę?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataUtworzenia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataUtworzenia)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Powrót do Apteczek", "Index")
        </div>
    }
</div>
